@import "tailwindcss";
@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--background);
  color: var(--text);
  font-family: "Jost", sans-serif;
  overflow-x: hidden;
}

